<!DOCTYPE html>
<html>
<head>
    <title><%= counts[0].title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include nav/header.ejs%>

<h3>Counts</h3>
<p> 동아리방 인원 : <%= counts[0].num%></p>
</body>
</html>
