<!DOCTYPE html>
<html>
<head>
    <title><%= counts[10].time %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include nav/header.ejs%>

<h3> <%= counts[10].time %> Counts</h3>
<p> 동아리방 인원 : <%= counts[10].num%></p>
</body>
</html>
