html {
    height:100%;
    overflow-x : hidden;
    background-color: #444F6B;
    font-family: 'Spoqa Han Sans';
}

body {
    position:absolute;
    top:50%; left: 50%;
    width: 960px;
    height: 700px;
    margin-left: -480px;
    margin-top: -300px;
    margin-bottom: 20px;
    background-color: #fffffe;
    box-shadow: 0px 0px 55px #463E4A;
    text-align: center;
}

.header {
    width:100%;
    height:150px;
    background-color: #f3f3f4;
    margin-bottom:20px;
    /*text-align: center;*/
}

.mainTitle {
    /*margin-left:-110px;*/
    color: #444F6B;
    /*display:inline-block;*/
    font-size:50px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -1px;
    text-shadow: 0px 0px 10px #fffffe;
    /*font-weight:bold;*/
}

.subTitle{
    color: #444F6B;
    font-size:17px;
    padding-top: 30px;
    text-align: center;
    /*font-weight:bold;*/
}


.people_count {
    text-align: center;
    color: #002e4a;
    font-size:60px;
    font-weight:bold;
    margin-bottom:-40px;
    display: inline-block;
}

.content{
    text-align: center;
    color: #444F6B;
    font-size:40px;
    letter-spacing: -1px;
    margin-bottom:20px;
}

.refreshBtn{
    background-color: #444F6B;
    color: #FFF;
    width: 10%;
    padding: 10px 10px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
    margin-bottom:20px;
}

.refreshBtn:hover, .refreshBtn:focus{
    background: #f3f3f4;
    color: #444F6B;
    outline: 0;
}


.comment{
    width: 70%;
    border: none;
    padding: 10px 10px;
    background: #FFFFFE;
    border: 2px solid #f3f3f4;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    margin-bottom:10px;
    /*display: inline-block;*/
}

.comment:hover, .comment:focus{
    outline: 0;
    border: 2px solid #f3f3f4;
    border-radius: 20px;
    background: #f3f3f4;
}

.submitBtn{
    background-color: #444F6B;
    color: #FFF;
    width: 10%;
    padding: 11px 10px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
    margin-left: 10px;
}

.submitBtn:hover, .submitBtn:focus {
    background: #f3f3f4;
    color: #444F6B;
    outline: none;
}


/*:before, :after {*/
    /*content: '';*/
    /*display: block;*/
    /*box-sizing: border-box;*/
/*}*/

.footer {
    width: 100%;
    height: 5%;
    background-color: #f3f3f4;
    position:absolute;
    top:50%;
    margin-top: 320px;
    /*text-align: center;*/
}

#board{
    font-size: 20pt;
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.axis path {
    fill: none;
    stroke: rgba(0,0,0,.1);
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

path{
    stroke: rgba(90,190,90,1)
}

path.area{
    fill: rgba(90,190,90,.5);
}


